.ant-notification-notice-message:hover{
    /* background-color: red; */
    cursor: move;
}
.ant-modal-title:hover{
    cursor: move;
}
.user-cfg-but{
    position: fixed;
    right: 30px;
    bottom: 50px;
    z-index: 999;
}
.ellipsis{
    text-overflow: ellipsis;
    display: block;
    white-space:nowrap;
    overflow: hidden;
}